{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h2 class="my-5 text-center">My Projects</h2>

<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ project.image_url }}" class="card-img-top" alt="{{ project.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                {% if project.project_link %}
                <a href="{{ project.project_link }}" class="btn btn-primary btn-sm" target="_blank">View Project</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
